<div class="container">
  <h1>Maps Points</h1>
  <div class="form-row align-items-center">
    <div class="col-sm-11 mt-1 mb-2">
      <input placeholder="choose the location and then press the button --> Add" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
    </div>
    <div class="col-sm-1">
      <button (click)='savePoints()' class="btn btn-info">Add</button>
    </div>
  </div>
  <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
  </agm-map>
</div>

<h3 class="mt-2">Saved Points</h3>
<ul>
    <li *ngFor="let place of places">
        {{place}} - <button (click)="openModal(template, place)" class="btn btn-info">Comments</button>
    </li>
</ul>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-md-12" *ngFor="let comment of comments">
      <div class="card" style="width: 25rem;">
          <div class="card-body">
            <h5 class="card-title">{{comment.email}}</h5>
            <label for="comment">Rating</label>
            <rating (value)="comment.rate" [max]="5" [readonly]="true"></rating>
            <p class="card-text">{{comment.comment}}</p>
          </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
     <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        
          <label for="comment">Rating</label>
          <rating [(ngModel)]="rate" [max]="5" formControlName="rating" [readonly]="isReadonly" (onHover)="hoveringOver($event)"></rating>
          <span class="label"
                [ngClass]="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
                [ngStyle]="{display: (overStar && !isReadonly) ? 'inline' : 'none'}"></span>
      </div>
      <div class="form-group">
          <label for="comment">Commentary</label>
          <input placeholder="Type a comment" type="comment" formControlName="comment" class="form-control" [ngClass]="{ 'is-invalid': f.comment.errors }" />
          <div *ngIf="f.comment.errors" class="invalid-feedback">
              <div *ngIf="f.comment.errors.required">Comment is required</div>
          </div>
      </div>
      <div class="form-group">
          <button [disabled]="!form.valid" class="btn btn-info">
              <span class="spinner-border spinner-border-sm mr-1"></span>
              Save
          </button>
      </div>
  </form> 
  </div>
</ng-template>
