<div class="container">
  <h1>Maps Points</h1>
  <div class="form-row align-items-center">
    <div class="col-sm-11 mt-1 mb-2">
      <input placeholder="choose the location and then press the button --> Add" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
    </div>
    <div class="col-sm-1">
      <button (click)='savePoints()'>Add</button>
    </div>
  </div>
  <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
  </agm-map>
</div>

<h3 class="mt-2">Saved Points</h3>
<ul>
    <li *ngFor="let place of places">
        {{place}} - <button (click)="openModal(template)">Comments</button>
    </li>
</ul>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
  <div class="modal-footer">
     <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        
          <label for="comment">Rating</label>
          <rating [(ngModel)]="rate" [max]="5" formControlName="rating" [readonly]="isReadonly" (onHover)="hoveringOver($event)" (onLeave)="resetStar()"
        [titles]="['one','two','three']"></rating>
          <span class="label"
                [ngClass]="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
                [ngStyle]="{display: (overStar && !isReadonly) ? 'inline' : 'none'}"></span>
          <!-- <div class="card">
              <pre class="card-block card-header" style="margin:15px 0;">Rate: <b>{{rate}}</b>;  Readonly is: <i>{{isReadonly}}</i>;  Hovering over: <b>{{overStar || "none"}}</b></pre>
          </div>
          
          <button type="button" class="btn btn-sm btn-danger" (click)="rate = 0"
                  [disabled]="isReadonly">Clear
          </button>
          <button type="button" class="btn btn-sm btn-primary"
                  (click)="isReadonly = ! isReadonly">Toggle Readonly
          </button> -->
      </div>
      <div class="form-group">
          <label for="comment">Commentary</label>
          <input type="comment" formControlName="comment" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.comment.errors }" />
          <div *ngIf="submitted && f.comment.errors" class="invalid-feedback">
              <div *ngIf="f.comment.errors.required">Comment is required</div>
          </div>
      </div>
      <div class="form-group">
          <button [disabled]="loading || !form.valid" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Save
          </button>
      </div>
  </form> 
  </div>
</ng-template>
